<section class="my-team-container">
    <app-toolbar></app-toolbar>


    <div *ngIf="myPlayers.length>0 else nodata" class="players-list flex-row justify-center gap-20">
        <div class="flex-column gap-20 justify-start">
            <app-item-list subheader="Coach" [players]="myPlayers.slice(0,1)">
            </app-item-list>
            <app-item-list subheader="Goalkeepers" [players]="goalkeepers">
            </app-item-list>
            <app-item-list subheader="Defenders" [players]="defenders">
            </app-item-list>
        </div>
        <div class="flex-column gap-20 justify-start">
            <app-item-list subheader="Midfielders" [players]="midfielders">
            </app-item-list>
            <app-item-list subheader="Strikers" [players]="strikers">
            </app-item-list>
        </div>
    </div>
    
    <ng-template #nodata>
        <section class="text-center">
            <h3>
                No players drafted yet, please go to draft view and select some players
                to your team!
            </h3>
            <button (click)="goToDraft()" color="primary" mat-raised-button>
                Go to draft
            </button>
        </section>
    </ng-template>
</section>