<section class="dialog-container">
    <h1 mat-dialog-title>Draft selection</h1>
    <mat-dialog-content>
        <mat-list>
            <mat-list-item class="item" *ngFor="let player of data">
              <img matListItemAvatar [src]="player.photo" alt="...">
              <h3 matListItemTitle>{{player.name}}</h3>
              <p matListItemLine>
                <span>{{ player.position }}</span>
                <span class="demo-2"> -- {{ player.nationality }}</span>
              </p>
            </mat-list-item>
          </mat-list>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button (click)="closeDialog()" mat-button mat-dialog-close>Cancel</button>
        <button class="draft-btn" color="primary" mat-raised-button>Draft</button>
    </mat-dialog-actions>
</section>
