.info-container {
    margin-top: 2rem;
    padding: 2rem;
}

.info-container > * {
    max-width: 600px;
}

button {
    height: 60px !important;
    width: 160px;
    margin-top: 1rem;
}

mat-list {
    max-width: 80dvw;
}

ul {
    line-height: 200%;
}