<section class="info-container flex-column justify-center align-center">
    <h2>Welcome to world cup fantasy footbal!</h2>
    
    <p>
        This is a simple web application that allows you to create your own team and play against other teams.
        You can create your own football team. For that, you will see a list of players from the
        different national teams, assign them to your team, and to save the team.
    </p>
    
    
    <h3>Rules</h3>
    
    <p>The game has a few rules you have to take into account when creating your team, please check the list below:</p>
    
    <ul>
        <li>Maximum of 4 players from the same national team.</li>
        <li>Team size limit to 16 players.</li>
        <li>
            Each team must have one coach, and at least:
            <ul>
                <li>4 defenders.</li>
                <li>4 midfielders.</li>
                <li>2 attackers.</li>
                <li>2 goalkeepers.</li>
            </ul>
        </li>
    </ul>
    
    <button (click)="goToDraft()" mat-raised-button color="primary">
        Get started
    </button>
</section>